* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    
}

#total-cost-div {
    grid-row: 1;
    
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 80%;
    height: 80%;
    table-layout: fixed;
}

caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
    font-size: 1rem;
}

td:last-of-type {
    text-align: center;
    
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}


#grand-total {
    grid-row: 2;
    width: 50%;
}

button {
    position: absolute;
    left: 82vw;
    top: 28.5vh;
    width: 6rem;
    height: 3rem;
}